<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    body{
    background-color:#00ace6;
    }
        .bu{
        height:500px;
        width:260px;
        margin-top:70px;
        background-color:pink;
        margin-left:500px;
        border-radius:10%;


        }
        .btn{
        margin-top:20px;
        margin-left:20px;
        height:40px;
        width:200px;
        }
    </style>
</head>
<body>
<div class="bu">
    <a href="http://127.0.0.1:8000/bankapp/notificationpage/" class="btn btn-dark">Add News Feeds</a>
    <a href="http://127.0.0.1:8000/bankapp/adminnewspagedisplay/" class="btn btn-dark">Display News Feeds</a>
</div>
</body>
</html>